<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.com.book">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Andorid Cook Book"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Topics" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".ShowDataForIntroduction" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".Main6Activity" />
        <activity android:name=".Main7Activity" />
        <activity android:name=".Main0Activity" />
        <activity android:name=".Main8Activity" />
        <activity android:name=".Main9Activity" />
        <activity android:name=".Show3" />
        <activity android:name=".Show4" />
        <activity android:name=".Show6" />
        <activity android:name=".Show7" />
        <activity android:name=".Show8" />
        <activity android:name=".Show9" />
        <activity android:name=".Show5" />
        <activity android:name=".TestingPage" />
        <activity android:name=".Certificate" />
        <activity android:name=".About" />
        <activity android:name=".Setting" />
        <activity android:name=".GoogleSignInActivity" />
        <activity android:name=".OnlineSearch" />
        <activity android:name=".Touchpaid" />
        <activity android:name=".Touchpaid2" />
        <activity android:name=".paintselecter"></activity>
    </application>

</manifest>